<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.member.dao.MemberMapper">  
  	
  	<select id="selectRowCount" parameterType="map" resultType="integer">
  	SELECT COUNT(*)
  	FROM mem_dpt dpt LEFT OUTER JOIN member_detail d
  	ON dpt.mem_dpt_num = d.mem_dpt_num
  	<where>
  		<if test="keyword != null and keyword != ''">
  			<if test="keyfield == 1">
  				d.mem_name LIKE '%' || #{keyword} || '%'
  			</if>
  			<if test="keyfield == 2">
  				dpt.mem_dpt LIKE '%' || #{keyword} || '%'
  			</if>
  			<if test="keyfield == 3">
  				d.mem_email LIKE '%' || #{keyword} || '%'
  			</if>
  			<if test="keyfield == 4">
  				d.mem_name LIKE '%' || #{keyword} || '%' OR 
  				dpt.mem_dpt LIKE '%' || #{keyword} || '%' OR 
  				d.mem_email LIKE '%' || #{keyword} || '%' 
  			</if>
  		</if>
  	</where>
  	</select>
  	
  	<select id="selectList" parameterType="map" resultType="memberVO">
  	SELECT *
  	FROM (SELECT a.*, rownum rnum
  		  FROM (SELECT *
  		  		FROM mem_dpt LEFT OUTER JOIN member_detail 
  		  		USING(mem_dpt_num)
                JOIN mem_rank USING(mem_rank_num)
  		  		<where>
			  		<if test="keyword != null and keyword != ''">
			  			<if test="keyfield == 1">
			  				mem_name LIKE '%' || #{keyword} || '%'
			  			</if>
			  			<if test="keyfield == 2">
			  				mem_dpt LIKE '%' || #{keyword} || '%'
			  			</if>
			  			<if test="keyfield == 3">
			  				mem_email LIKE '%' || #{keyword} || '%'
			  			</if>
			  			<if test="keyfield == 4">
			  				mem_name LIKE '%' || #{keyword} || '%' OR 
			  				mem_dpt LIKE '%' || #{keyword} || '%' OR 
			  				mem_email LIKE '%' || #{keyword} || '%' 
			  			</if>
			  		</if>
			  	</where>
  		  		ORDER BY mem_name ASC)a)
  	<![CDATA[
  	WHERE rnum >= #{start} AND rnum <= #{end}
  	]]>
  	</select>

	<select id="selectMsgMemberRowCount" parameterType="map" resultType="integer">
	  	SELECT COUNT(*)
	  	FROM mem_dpt dpt LEFT OUTER JOIN member_detail d
	  	ON dpt.mem_dpt_num = d.mem_dpt_num
	  <where>
  		<if test="keyword != null and keyword != ''">
  			<if test="keyfield == 1">
  				d.mem_name LIKE '%' || #{keyword} || '%'
  			</if>
  			<if test="keyfield == 2">
  				dpt.mem_dpt LIKE '%' || #{keyword} || '%'
  			</if>
  			<if test="keyfield == 3">
  				d.mem_email LIKE '%' || #{keyword} || '%'
  			</if>
  			<if test="keyfield == 4">
  				d.mem_name LIKE '%' || #{keyword} || '%' OR 
  				dpt.mem_dpt LIKE '%' || #{keyword} || '%' OR 
  				d.mem_email LIKE '%' || #{keyword} || '%' 
  			</if>
  		</if>
  	</where>
 	</select>			
  				
  	<select id="selectMsgMemberList" parameterType="map" resultType="memberVO">
  		SELECT 
  			*
  		FROM (SELECT
  				a.*,
  				rownum rnum
  			  FROM (SELECT
  			  			dpt.mem_dpt,
  			  			d.mem_num,
  			  			d.mem_name,
  			  			d.mem_email,
  			  			rank.mem_rank,
                        d.mem_photo,
                        d.mem_photo_name
  			  		FROM mem_dpt dpt JOIN member_detail d
  			  		ON dpt.mem_dpt_num = d.mem_dpt_num
  			  		JOIN mem_rank rank
                    ON d.mem_rank_num = rank.mem_rank_num
					<where>
				  		<if test="keyword != null and keyword != ''">
				  				d.mem_name LIKE '%' || #{keyword} || '%' OR 
				  				dpt.mem_dpt LIKE '%' || #{keyword} || '%' OR 
				  				d.mem_email LIKE '%' || #{keyword} || '%' 
				  		</if>
			  		</where>
  			  		ORDER BY d.mem_name ASC)a)
  			
  	</select>

	
	<!-- 전자결재 회원 목록 -->
	<select id="selectSignList" parameterType="map" resultType="memberVO">
	  	SELECT *
	  	FROM (SELECT a.*, rownum rnum
	  		  FROM (SELECT *
	  		  		FROM mem_dpt dpt LEFT OUTER JOIN member_detail d
	  		  		ON dpt.mem_dpt_num = d.mem_dpt_num
	  		  		
	  		  		JOIN mem_rank c
  		  			ON c.mem_rank_num = d.mem_rank_num
	  		  		<where>
				  		<if test="keyword != null and keyword != ''">
				  			<if test="keyfield == 1">
				  				d.mem_name LIKE '%' || #{keyword} || '%'
				  			</if>
				  			<if test="keyfield == 2">
				  				dpt.mem_dpt LIKE '%' || #{keyword} || '%'
				  			</if>
				  			<if test="keyfield == 3">
				  				d.mem_email LIKE '%' || #{keyword} || '%'
				  			</if>
				  			<if test="keyfield == 4">
				  				d.mem_name LIKE '%' || #{keyword} || '%' OR 
				  				dpt.mem_dpt LIKE '%' || #{keyword} || '%' OR 
				  				d.mem_email LIKE '%' || #{keyword} || '%' 
				  			</if>
				  		</if>
				  	</where>
	  		  		ORDER BY d.mem_rank_num DESC)a)
	  	
	  	
	  	</select>
</mapper>







