<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.address.dao.AddressMapper">  
  	<select id="selectRowCount" parameterType="map"
  	                    resultType="integer">
		SELECT
		  COUNT(*)
		FROM address s JOIN member m
		ON s.mem_num = m.mem_num
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					s.title LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 2">
					m.id LIKE '%' || #{keyword} || '%' OR
					m.nick_name LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 3">
					s.content LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 4">
					s.title LIKE '%' || #{keyword} || '%' OR
					s.content LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>  	
  	</select>
  	<select id="selectList" parameterType="map"
  	                         resultType="addressVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              b.board_num,
  		              <![CDATA[
  		              REPLACE(REPLACE(b.title,'<','&lt;'),'>','&gt;') title,
  		              ]]>
  		              b.hit,
  		              b.filename,
  		              b.reg_date,
  		              b.mem_num,
  		              m.id,
  		              m.nick_name
  		            FROM spboard b JOIN spmember m
  		            ON b.mem_num = m.mem_num
  		            <where>
						<if test="keyword != null and keyword != ''">
							<if test="keyfield == 1">
								b.title LIKE '%' || #{keyword} || '%'
							</if>
							<if test="keyfield == 2">
								m.id LIKE '%' || #{keyword} || '%' OR
								m.nick_name LIKE '%' || #{keyword} || '%'
							</if>
							<if test="keyfield == 3">
								b.content LIKE '%' || #{keyword} || '%'
							</if>
							<if test="keyfield == 4">
								b.title LIKE '%' || #{keyword} || '%' OR
								b.content LIKE '%' || #{keyword} || '%'
							</if>
						</if>
					</where> 
  		            ORDER BY b.board_num DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
  	
</mapper>







