<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.messanger.dao.MessangerMapper">  
  	<!-- MessangerMapper.java랑 파일명 / 메소드명 같아야함 -->
  								<!--	타입,			 반환타입 -->
  	
  	
	<select id="selectChatmemCount" parameterType="map" resultType="chatmemVO">
		SELECT 
		  chatroom_num, chatroom_name, mem_num, count, mem_name 
		FROM chatroom 
		JOIN chatmem USING(chatroom_num)
		JOIN (SELECT chatroom_num, COUNT(*) count FROM chatmem GROUP BY chatroom_num)
	    USING(chatroom_num) JOIN member_detail USING(mem_num)
	    WHERE 
	    mem_num=#{mem_num}
	    <if test="keyword!=null and keyword!=''">
	    	AND chatroom_name LIKE '%' || #{keyword} || '%'
	    </if>
	</select>

 	
  	
  	
</mapper>







